{% macro customMultipleMatchNav(params) %}

{% from "components/section-navigation/_macro.njk" import onsSectionNavigation %}
<br>

{{ onsSectionNavigation({
  "id": "section-menu",
  "currentPath": params.current_path, 
  "headingLevel": 2,
  "sections": [{
    "title": "",
    "itemsList": [
      {
        "title": "Up To " + (params.bulk_limits.limit_vast_bulk|string) + " Entries",
        "url": url_for('multiple_entries'),
      },
      {
        "title": "Over " + (params.bulk_limits.limit_vast_bulk|string) + " Entries",
        "url": url_for('multiple_entries_results'),
      }
    ]
  }]
}) }}

<br>

{% endmacro %}
